body {
    font-family: 'Karla', sans-serif;
    overflow: hidden;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    max-width: 300px;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
}

.inactive {
    color: lightgrey;
}

.axis .domain,
.axis .tick line {
    stroke: transparent;
}

.tick text {
    font-size: 12px;
}

.button1 {
    position: absolute;
    top: 6px;
    background-color: #fdd900;
    /* border: 0.5px solid rgba(0, 0, 0, 0.205); */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    color: black;
    padding: 1px 18px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    right: 3px;
}

#info_button {
    position: absolute;
    top: 6px;
    background-color: #fdd900;
    /* border: 0.5px solid rgba(0, 0, 0, 0.205); */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    color: black;
    padding: 1px 18px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    right: 60px;
}

#info_button:focus{
    outline: 0px;
}

.button1:focus{
    outline: 0px;
}

#info_button:hover {
    background-color: #AA4197;
    color: white;
}

.button1:hover {
    background-color: #AA4197;
    color: white;
}

#info {
    position: absolute;
    background-color: #006297;
    top: 45px;
    width: 300px;
    right: -305px;
    z-index: 9;
    border-radius: 2px;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.dropdown-menu {
    height: 500px;
    overflow-y: auto;
}

#agt_tooltip {
    position: absolute;
    font-size: 12px;
    z-index: 999;
    background-color: black;
    width: 200px;
    color: white;
    border-radius: 2px;
    padding: 0.8em;
    border: none;
    box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
    margin: auto;
    display: none;
    opacity: 0.8;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
}

#but_read {
    padding: 1px 15px;
    height: 28px;
    position: absolute;
    top: -1px;
    margin-left: 5px;
    border: none;
    background-color: #fdd900;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-weight: bold;
}

#but_read:hover {
    background-color: #AA4197;
    color: white;
}

img {
    top: 2px;
    left: 4px;
    position: absolute;
    height: 42px;
}

.bottom-right-badges {
    position: fixed;
    right: 12px;
    bottom: 0px;
    z-index: 1000;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    max-width: calc(100vw - 24px);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

/* Visually center mini badges against the normal (mono) badge. at the bottom right */
.bottom-right-badges vis-badge[type="mini"] {
    transform: translateY(+2px);
}
